@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    padding: 10px;
    min-height: calc(100vh);
    position: relative;
}

.main
{
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.output
{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.output__figure
{
    width: 100%;
    height: calc(9 / 16 * 100vw);
}

.output__actions
{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-between;
}

.input__elem *
{
    margin-bottom: 10px;
    display: block;
}

.inputt
{
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}


#canvas
{
    width: inherit;
    height: inherit;
}

.footerr
{
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
}

@media screen and (min-width: 968px)
{
   .main
   {
    flex-flow: row;
    
   } 
   .output
   {
    flex: 1.5;
   }

    .output__figure
    {
        width: 100%;
        height: calc((9 / 16 * 100vw) / 2);
    }

    .inputt
    {
        flex: 1;
        padding: 40px 0 0 0;
        display: flex;
        flex-flow: column;
        gap: 20px;
    }

    .settings
    {
        display: flex;
        flex-flow: column;
    }
}
